body {
    background-color: #242424;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buttons-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    box-shadow: 4px 4px 10px #ffffff;
    border-radius: 5px;
    background-color: #7a95be;
    cursor: pointer;
    transition: 0.3s;
}


button:hover {
    background-color: #b2cce6;
    transition: 0.3s;
    box-shadow: 6px 6px 10px #747474;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    
    transition: 0.3s;
    min-width: 340px;
}

.loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    animation: pulsOut 1.8s ease-in-out infinite;
    filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
}

.loader:before {
    width: 100%;
    padding-bottom: 100%;
    box-shadow: inset 0 0 0 1rem #fff;
    animation-name: pulsIn;
}

.loader:after {
    width: calc(100% - 2rem);
    padding-bottom: calc(100% - 2rem);
    box-shadow: 0 0 0 0 #fff;
}

@keyframes pulsIn {
    0% {
        box-shadow: inset 0 0 0 1rem #fff;
        opacity: 1;
    }

    50%,
    100% {
        box-shadow: inset 0 0 0 0 #fff;
        opacity: 0;
    }
}

@keyframes pulsOut {

    0%,
    50% {
        box-shadow: 0 0 0 0 #fff;
        opacity: 0;
    }

    100% {
        box-shadow: 0 0 0 1rem #fff;
        opacity: 1;
    }
}

h1 {
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}

.result {
    color: #ffffff;
}

#analyze {
    background-color: #9dd39c;
}

#clear-input {
    background-color: #7a95be;
}

#clear-response {
    background-color: #e9c666;
}